*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
section{
    width: 100%;
    height: 100vh;
    background-image: url(image/bg1.png);
    background-size: cover;
    background-position: center;
}
section nav{
    display: flex;
    align-items: center; 
    justify-content: space-evenly; 
    box-shadow: 0 0 8px rgba(0, 0, 0,0.6);
    background: white;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
section nav .logo{
    font-size: 30px;
    position: relative;
    cursor: pointer;
    color: red;
    margin: 5px 0;
}
section nav .logo span{
    color: blue;
    text-decoration: underline;
}
section nav ul{
    list-style: none;
}
section nav ul li{
    display: inline-block;
    margin: 5px 15px;
}
section nav ul li a{
    text-decoration: none;
    transition: 0.2s;
    color: black;
    
}
section nav ul li a:hover{
    color: blueviolet;
}
section nav .icon img{
    margin:0 4px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}
section nav .icon img:hover{
    color: yellowgreen;
}
section .main .main_content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
section .main .main_content h1{
    font-size: 90px;
    line-height: 70px;
    font-family:pyxidium quick;
    position: relative;
    top: 45px;
    left: 5%;
}
section .main .main_content h1 span{
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #6c126c;
}
section .main .main_content p{
    width: 600px;
    text-align: justify;
    position: relative;
    line-height: 21px;
    top: 85px;
    left: 5%;
}
section .main .main_content .main_image img{
       width: 650px;
       position: relative;
       top: 75px;
       left: 20px;
}
section .main .main_content .social_icon{
    position: absolute;
    top: 50%;
    left: 105%;
    transform: translate(-100px,-50px);
    font-size: 19px;
} 
section .main .social_icon img{
    margin: 8px 0;
    cursor: pointer;
    transition: 0.3s;
}
section .main .social_icon img:hover{
    color:#6c126c;
}
section .main .button{
    position: absolute;
    top: 90%;
    left: 6%;
    padding: 10px 20px;
    border: solid;
    border-radius: 30px;
   background-color:cyan;
}
section .main .button img{
    color: white;
    margin-left: 5px;
    transition: 0.3s;
}
section .main .button:hover img{
    transform: translateX(6px);
}

/* products */

.products{
     width: 100%;
     height: 145vh;
     padding:45px 0;
}
.products h1{
    margin: 25p 0;
    font-size: 50px;
    font-family:pyxidium quick ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase ;
}
.products .box{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px 0 ;
    padding: 20px 0;

}
.products .box .card{
    width: 290px;
    height: 440px;
    box-shadow: 0 0 8px #6c6c6c;
    border-radius: 5px;
    text-align: center;
    padding: 20px 20px;
    background: whitesmoke;
}
.products .box .card .image img{
    width: 150px;
    transition: 0.2s;
    margin: 25px 0;
}
.products .box .card:hover .image img{
    transform:scale(1.1);
}
.products .box .card .image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.products .box .card .small_card{
    display: flex;
    flex-flow: column;
    position: absolute;
    margin: 5px 5px;
    transform: translate(-20px);
    transition: 0.3s;
    opacity: 0;
}
.products .box .card:hover .small_card{
    transform: translateX(2px);
    cursor: pointer;
    opacity: 1;
}
.products .box .card .small_card img{
    width: 20px;
    height: 20px;
    font-size: 2px;
    margin: 3px 0;
    line-height: 2px;
    transition: 0.2s;
}
.products .box .card .products_text p{
    font-size: 15px;
}

.products .box .card .products_text h3{
    font-size: 20px;
    margin-top: 10px;
    font-family:'Times New Roman', Times, serif;
}
.products .box .card .products_text .products_star{
    color: orange;
    margin-bottom: 15px;
    cursor: pointer;
}
.products .box .card .products_text .btn{
    text-decoration: none;
    padding: 10px 20px;
    background:linear-gradient(to right ,#c72067, blue);
    color: white;
}


/* About */


.About{
    margin:40px;
    width: 90%;
    padding: 30px 0;
    
}
.About h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-top: 10px;
    text-transform: uppercase;
    padding-left: 10%;
    font-family:pyxidium quick;
}
.About h1 span{
    margin-left: 15px;
    font-family: pyxidium quick;
    color: #6c126c;
}

.About .about_main{
    position: relative;
    top: -10vh;
    left: 50%;
    
    transform: translate(-50%,20%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.About .about_main .about_image .about_small_image img{
    height: 90px;
    cursor: pointer;
    margin: 15px 0;
    display: block;
    background: linear-gradient(to right, #c72067,blueviolet);
    border-radius: 6px;
    padding: 5px, 5px;
    opacity: 0.8;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    transition: 0.3s;
}
.About .about_main .about_image .about_small_image img:hover{
    opacity: 1;
}
.About .about_main .about_image{
    display: flex;
    justify-content:flex-start;
    align-items:start;
    padding-right: 50px;
    margin-right: 10px;
       

}
.About .about_main .about_image .about_small_image{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 15px;
}
.About .about_main .image_container{
    padding: 50px;
    display: flex;
}
.About .about_main .image_container img{
    border: 1px solid #6c1466;
    border-radius: 10px;
    height: 430px;
    padding: 30px;
    box-shadow: 0 0  8px blue;
    padding-left: 20px;
}
.About .about_main .about_text{
    margin-top: 40px;
    height: 430px;
    background:linear-gradient(to right #6c126c,#bbb);
   
    
}
.About .about_main .about_text p{
    line-height: 25px;
    width: 585px;
    text-align: justify;
    padding: 15px;
    border: 2px solid #6c1466;
    border-radius: 20px;
    box-shadow: 0 0 8px violet;
    font-family:sans-serif;
    color:#6c126c;
}
.About .about_btn{
    color: black;
    background: none;
    position:absolute;
    left: 55%;
    top: 340vh;
    padding: 10px 25px;
    transform: translate(-50%,-50%);
    border: 1px solid black;
    text-decoration: none;
    box-shadow: 0 0 4px  rgb(114, 96, 253);
    transition: 0.4s;
    border-radius: 10px;
}
.About .about_btn:hover{
    background:#6c6c6c;
    color:white;
}

/* Review */

.review{
    width: 100%;
    height: 100vh;
    padding-top: 80px;
}
.review h1{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-family:pyxidium quic;
}
.review h1 span{
    font-family: pyxidium quic;
    margin-left: 10px;
    background-color:unset;
    color: #6c126c;
}
.review .review_box{
    width: 95%;
    position: relative;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.review .profile .profile_image{
    width: 60px;
    height: 50px;
    border-radius: 50%;
    overflow:hidden;
    margin: 5px 0;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.review .profile .profile_image:hover{
     transform: scale(1.2);
}
.review .profile_image img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: center;
}
.review .profile{
    display: flex;
    align-items: center;
}
.review .review_box .review_card{
    width: 500px;
    background: #f3f1f1;
    padding: 20px 25px;
    border-radius: 5px;
    margin: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.review .review_box .review_card .card_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.review .review_box .review_card .card_top .profile .name{
    margin-left: 10px;
    line-height: 22px;

}
.review .review_box .review_card .card_top .profile .name strong{
    font-size: 20px;
}
.review .review_box .review_card .card_top .profile .name .like img{
    display: inline-block;
    font-size: 20px;
}
.review .review_box .review_card .comment p{
   text-align: justify;
   line-height: 22px;
   margin-top: 15px;
}


/* services */

.service{
    width: 70%;
    margin: 0 auto;
    padding: 90px 0 10px 0;
    text-align: center;
}
.service h1{
    font-size: 60px;
    text-transform: uppercase;
    font-family: pyxidium quic;
}
.service h1 span{
    margin-left: 10px;
    color:  #6c126c;
    font-family: pyxidium quic;

}
.service .services_card{
    width:90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 3vh;
    position: relative;
    margin: 0 auto;
    gap: 15px;
}
.service .services_card .services_box img{
    font-size: 10px;
    margin: 25px 0px;
    cursor: pointer;
    height: 50px;
    width: 50px;
}
.service .services_card .services_box h3{
    margin-bottom: 12px;
    font-size: 20px;
}
.service .services_card .services_box p{
    text-align: center;
    color: #919191;
    margin-bottom: 70px;
}

/* login form */


.login_form{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(image/loging_bg.png);
    background-size: cover;
    background-position: center;
}
.login_form .left img{
    width: 650px;
}
.login_form .right{
    position: relative;
    top: -50px;
    left: -60px;
    padding: 50px 80px;
}
.login_form .right h1{
    font-family:cursive;
    font-size: 45px;
    margin-bottom: 40px;
}
.login_form .right p{
    margin-bottom: 5px;
}
.login_form .right .user{
    border: 2px solid #6c14d0;
    border-radius: 5px;
    width: 350px;
    height: 30px;
    display: flex;
}
.login_form .right .user img{
    position: relative;
    color: #c72092;
    height: 20px;
    padding-left: 5px;
    top: 3px;
}
.login_form .right .user .username {
    position: relative;
    left: 5%;
    width: 295px;
    background: none;
    outline: none;
    border: none;
    display: flex;
    font-size: 15px;
}
.login_form .right .password_tag{
    margin: 15px 0 5px 0;
}
.login_form .right .password{
    border: 2px solid #6c14d0;
    border-radius: 5px;
    width: 350px;
    height: 30px;
    display: flex;
}
.login_form .right .password img{
    position: relative;
    color: #c72092;
    height: 20px;
    padding-left: 5px;
    top: 3px;
}
.login_form .right .password input{
    position: relative;
    left: 5%;
    width: 295px;
    background: none;
    border: none;
    outline: none;
    display: flex;
    font-size: 15px;
}
::-webkit-input-placeholder{
    color: black;
    opacity: 0.7;
}
.login_form .right .forget{
    position: relative;
    left: 60%;
    margin: 6px 0 10px 0;
    cursor: pointer;
}
.login_form .right button{
    width: 350px;
    color: white;
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(to right, #c72092 , #6c14d0);
}
.login_form .right .login_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    justify-content: space-evenly;
}
.login_form .right .login_icon a{
    width: 30px;
    height: 30px;
    margin: 0 2px;
    border-radius: 50%;
    background: #f3f3f3;
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
}
.login_form .right .login_icon img{
    width: 20px;
    margin: 5px 5px;


}

/* Footer */


footer{
    width: 100%;
}
footer .footer_main{
    width: 100%;
    background: #f3f1f1;
    display: flex;
    justify-content: space-around;
}
footer .footer_main .tag{
    margin: 10px 0;
}
footer .footer_main .tag .center{
    text-align: center;
}
footer .footer_main .tag h1{
    font-size: 25px;
    margin: 25px 0;
    color: #1c0080;
}
footer .footer_main .tag a{
    display: block;
    color: black;
    text-decoration: none;
    margin: 9px 0;
}
footer .footer_main .tag a img{
    padding: 0 10px;
    transition: 0.3;
}
footer .footer_main .tag a img:hover{
    color: #c72092;
}
footer .footer_main .tag .social_links{
    display: flex;
}
footer .footer_main .tag .social_links a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.05);
    position: relative;
    margin: 0 8px;
    z-index: 10;
    overflow: hidden;
}
footer .footer_main .tag .social_links a .fa_brands{
    font-size: 12px;
    line-height: 10px;
    z-index: 10;
    top: 7px;
    right: 3px;
    position:relative;
    transition: 0.5s;
}
footer .footer_main .tag .social_links a:hover img{
    color: white;
}
footer .footer_main .tag .social_links a::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: -90px;
    background: linear-gradient(-45deg, #c72092 , #6c14d0);
    position: absolute;
    z-index: -10;
    transition: 0.5s;
}
footer .footer_main .tag .social_links a:hover::after{
    left: 0;
}
footer .footer_main .tag .search_bar{
    width: 230px;
    height: 30px;
    background: rgb(202, 202, 202);
    border-radius: 25px;
}
footer .footer_main .tag .search_bar input{
    width: 200px;
    padding: 2px 0;
    position: relative;
    top: 17%;
    left: 6%;
    border: none;
    background: none;
    outline: none;
    font-size: 13px;
}
footer .footer_main .tag .search_bar button{
    padding: 7px 15px;
    background: linear-gradient(to right, #c72092 , #6c14d0);
    border: none;
    margin-top: 15px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}
